@font-face {
    font-family: 'MetaPro';
    src: url('../fonts/MetaPro-Black.eot');
    src: local('☺'), url('../fonts/MetaPro-Black.woff') format('woff'), url('../fonts/MetaPro-Black.ttf') format('truetype'), url('../fonts/MetaPro-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro';
    src: url('../fonts/MetaPro-Bold.eot');
    src: local('☺'), url('../fonts/MetaPro-Bold.woff') format('woff'), url('../fonts/MetaPro-Bold.ttf') format('truetype'), url('../fonts/MetaPro-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro';
    src: url('../fonts/MetaPro-Book.eot');
    src: local('☺'), url('../fonts/MetaPro-Book.woff') format('woff'), url('../fonts/MetaPro-Book.ttf') format('truetype'), url('../fonts/MetaPro-Book.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MetaProLight';
    src: url('../fonts/MetaPro-Light.eot');
    src: local('☺'), url('../fonts/MetaPro-Light.woff') format('woff'), url('../fonts/MetaPro-Light.ttf') format('truetype'), url('../fonts/MetaPro-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPro';
    src: url('../fonts/MetaPro-Medi.eot');
    src: local('☺'), url('../fonts/MetaPro-Medi.woff') format('woff'), url('../fonts/MetaPro-Medi.ttf') format('truetype'), url('../fonts/MetaPro-Medi.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Cyrl';
    src: url('../fonts/MuseoSansCyrl-100.eot');
    src: local('☺'), url('../fonts/MuseoSansCyrl-100.woff') format('woff'), url('../fonts/MuseoSansCyrl-100.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-100.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Cyrl';
    src: url('../fonts/MuseoSansCyrl-300.eot');
    src: local('☺'), url('../fonts/MuseoSansCyrl-300.woff') format('woff'), url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-300.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Cyrl';
    src: url('../fonts/MuseoSansCyrl-500.eot');
    src: local('☺'), url('../fonts/MuseoSansCyrl-500.woff') format('woff'), url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-500.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Cyrl';
    src: url('../fonts/MuseoSansCyrl-700.eot');
    src: local('☺'), url('../fonts/MuseoSansCyrl-700.woff') format('woff'), url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-700.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}


body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Museo Cyrl', sans-serif !important;
    font-weight: 500;
}

body .html {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Museo Cyrl', sans-serif !important;
    font-weight: 500;
}

.i18n-kk h1,
.i18n-kk h2,
.i18n-kk h3,
.i18n-kk h4,
.i18n-kk h5,
.i18n-kk h6,
.i18n-kk p {
    font-family: 'Museo Cyrl', sans-serif;
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.block_text_top {
    margin-top: 20%
}

.block_text_bottom {
    margin-top: 50%
}

.block_text_white {
    margin-top: 105px;
}

.block_card {
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all
}

.block_card:hover {
    -webkit-transform: translate(-4px, -4px) !important;
    -ms-transform: translate(-4px, -4px) !important;
    transform: translate(-4px, -4px) !important;
}

.block_card_degLeft:hover {
    transform: rotate(-3deg) !important;
}

.block_card_degRight:hover {
    transform: rotate(7deg) !important;
}

.swipe_dots {
    height: 400px;
    width: 30px;
    position: fixed;
    top: 25%;
    right: 3%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    z-index: 10005;
    opacity: .35;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.swipe_dots:hover {
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    opacity: 1 !important;
}

.swipe_dots:hover .dot {
    height: 18px;
    width: 18px;
}

.dot {
    display: block;
    color: #ffaf00;
    height: 15px;
    width: 15px;
    border: 2px solid;
    border-radius: 50%;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.dot:hover {
    background-color: #2e6da4;
}

.active_dots {
    color: #2e6da4;
    background-color: #2e6da4
}

a {
    color: #000
}

a:hover {
    cursor: pointer !important
}

.home {
    background: url(../img/home.png) top -88px center no-repeat;
    background-size: cover;
    padding-bottom: 30px
}


.btn_border:active {
    border: 2px solid #204d74 !important;
}

.btn_border:focus {
    border: 2px solid #204d74 !important;
}

.aq_content_item {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.aq_content_item_even {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.content_btn {
    color: #000;
    background-color: #fff;
    border: 2px solid #2e6da4;
    margin-top: 16px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    border-radius: 0
}

.content_btn :hover {
    border: 2px solid #286090 !important
}

.aq_content_item {
    padding: 15px 50px
}

.aq_content_field_text p {
    font-size: 17px;
    text-align: left;
    display: inline;
    width: 250px
}

.aq_content_item_odd_item {
    margin-left: 60px
}

.aq_content_field_img {
    margin-top: 20px
}

.aq_content_field_title {
    padding: 22px 0
}

.page-header {
    margin-top: 25px
}

.item_img {
    height: fit-content
}

.slider {
    width: 100%;
    position: relative;
    padding: 0 60px;
    margin: 0 auto;
    height: 455px;
}

@media (max-width:767px) {
    .slider {
        padding: 0 40px
    }
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
    border: 0;
    opacity: .5;
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all
}

.slider.slick-arrow:hover {
    opacity: .9
}

.slider.slick-arrow:focus,
.foto_slider .slick-arrow:focus {
    border: 0;
    outline: 0
}

.slider.slick-arrow:active,
.foto_slider .slick-arrow:active {
    border: 0;
    outline: 0;
    opacity: 1
}

.slider .slick-arrow.slick-prev {
    left: 79px;
    background: url(../libs/sl-arrow_l.svg) 0 0 no-repeat;
    background-size: contain;
}

.slider .slick-arrow.slick-next {
    right: 79px;
    background: url(../libs/sl-arrow_r.svg) 0 0 no-repeat;
    background-size: contain;
}

.slider .slick-arrow.slick-disabled {
    opacity: .2
}

.slider .slick-dots {
    position: absolute;
    bottom: 20px;
    width: 84%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
    outline: 0
}

.slider .slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    outline: 0;
    opacity: .65;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.slider .slick-dots li.slick-active button {
    background-color: #fff;
    opacity: 1;
    border: none
}

.slider.slick-slide img {
    display: block;
    max-width: 100%;
    height: 100%;
}

.slider_area{
    padding: 0;
}



.foto_slider_wrap{
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #f5f5f5;
}

@media (max-width:767px){
    .foto_slider_wrap{padding: 50px 10px;}
}

/* Основные стили */

/* Слайдер */
.slick-slider{
    min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}

/* Конкретный слайдер */
.foto_slider {
    position: relative;
    padding: 0 60px;
}

@media (max-width:767px){
    .foto_slider {
        padding: 0 40px;
    }
}

.foto_slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}
.foto_slider .slick-arrow.slick-prev{
    border: 0;
    outline: none;
    left: 0;
    background: url('../libs/back.svg') 0 0 / 100% no-repeat;
}
.foto_slider .slick-arrow.slick-next{
    border: 0;
    outline: none;
    right: 0;
    background: url('../libs/next.svg') 0 0 / 100% no-repeat;
}
.foto_slider .slick-arrow.slick-disabled{
    opacity: 0.2;
}

.foto_slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
}
.foto_slider .slick-dots li{
    list-style: none;
    margin: 0 10px;
}

.foto_slider .slick-dots button{
    font-size: 0;
    width: 12px;
    height: 11px;
    background-color: #ccc;
    border: 0;
    border-radius: 50%;
    outline: none;
}

.foto_slider .slick-dots li.slick-active button{
    background-color: #377ccc;
}

.foto_slider_item {
    padding: 0px 15px;
}
.foto_slider_item img{
    max-width: 100%;
    height: 183px;
}

.foto_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.foto_list_item{
    width: 265px;
    margin-top: 10px;
}

.foto_list_item img{
    width: 100%;
    height: 185px;
}



.minimized {
    width: 300px;
    cursor: pointer;
    border: 1px solid #FFF;
}

.minimized:hover {
    border: 1px solid yellow;
}

/* увеличенная картинка */
#magnify {
    display: none;
    position: fixed;
    max-width: 600px;
    height: auto;
    z-index: 9999;
    width: 100%;
}

#magnify img {
    width: 100%;
    height: 380px;
}

/* затемняющий фон */
#overlay {
    display: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    z-index: 9990;
}

/* кнопка закрытия */
#close-popup {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

#close-popup i {
    width: 30px;
    height: 30px;
    background: url(https://codernote.ru/files/cross.png) no-repeat center center;
    background-size: 16px 16px;
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
}

.pop_overflow{
    overflow: hidden;
    padding-right: 17px !important;
}




.term {
    font-weight: bold;
    font-size: 17px;
}

.dish_list_item img {
    width: 100%;
}

.dish_list_item p {
    font-size: 16px;
    padding: 5px 0 0 25px;
    margin-bottom: 20px;
}

.tours_titles h5,
.tours_titles h6 {
    font-size: 17px !important;
}

.tours-maincontent h5 .tours-maincontent h4 .tours-maincontent h6 {
    font-size: 18px;
}

.filter_obj {
    position: relative;
    margin-bottom: 20px;
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;
}

.filter_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter_obj input {
    margin: 0;
}

.select_city {
    width: 137px;
    height: 38px;
    padding: 5px 10px;
}

.select_city option {
    height: 25px;
    padding: 5px;
}

.select_city_title {
    display: block;
}

.stars_list,
.type_list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.stars_list_item,
.type_list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 7px;
}

.star_check {
    width: 19px;
    height: 19px;
}

.stars_text {
    margin-left: 17px;
}

.stars_hotel_count,
.type_hotel_count {
    color: #ccc;
    margin-left: 15px;
    text-align: right;
}

.stay_type_area {
    margin-top: 15px;
}

.eat_type_area {
    margin-top: 0;
}

.type_text {
    margin-left: 10px;
}

.confirm_filter {
    position: absolute;
    right: 19px;
    bottom: 12px;
    width: 83px;
    height: 36px;
    display: block;
    border: 2px solid #0a99d8;
    background: #fff;
    transition: .3s all;
}

.confirm_filter:hover {
    border: 2px solid #0a99d8;
    background: #0a99d8;
    color: #fff;
}

.input_price {
    height: 30px;
    width: 63px;
    padding: 5px 10px;
}

.stay_img {
    height: fit-content;
}

.pagination_area {
    width: 315px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    float: right;
}

.disabled a{
    cursor: default;
    color: #ccc !important;
}

.page_next,
.page_prev{
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
}

.page_next:hover,
.page_prev:hover{
    background-color: #eee;
}

.page-link:active{
    outline: none;
    text-decoration: none;
}

.page_link_next,
.page_link_prev{
    color: #337ab7 !important;
    text-decoration: none;
    padding: 6px 12px;
    outline: none;
}

.page_link_next:hover,
.page_link_prev:hover{
    text-decoration: none;
    outline: none;
}

.page_link_next:active,
.page_link_prev:active{
    text-decoration: none;
    outline: none;
}

.page-item.disabled a{
    color: #ccc !important;
}

.page-item.disabled a:hover{
    cursor: default !important;
}

.search_content_item{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    box-shadow: 2px 2px 7px 2px #eee;
}

.search_item_text{
    padding: 10px;
}

.search_item_desc{
    font-size: 16px;
}


.search_img_area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_item_img{
    width: 250px;
    height: 167px;
}


.navbar-default {
    border: none;
    background-color: rgba(248, 248, 248, .45);
    padding-bottom: 9px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    padding: 0
}

.nav > li > a {
    padding: 7px 11px;
    font-family: 'MetaPro', sans-serif;
    font-weight: 100;
}

.not-front .home {
    padding-bottom: 0
}

.not-front .navbar-default {
    padding-bottom: 20px
}

.not-front .navbar {
    margin-bottom: 0
}

nav {
    margin-top: 24px
}

nav .navbar-nav > li > a {
    color: #000 !important;
    font-size: 16px
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    border: 1px solid;
    border-radius: 40px;
    background: 0 0
}

.block-locale{
    float: none;
    margin: 0;
    margin-top: 18px;
    margin-right: 10px;
}

#block-locale-language {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 110px;
}

.language-switcher-locale-url {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.language-switcher-locale-url li {
    width: 30px;
    height: 30px;
    list-style: none;
    text-align: center
}

.language-switcher-locale-url li a {
    color: #000
}

.language-switcher-locale-url li.active {
    border: 1px solid #0096d6;
    padding: 5px 2px;
    border-radius: 50%;
    margin-top: -6px;
    font-weight: 700;
}

.language-switcher-locale-url li.active a {
    color: #0096d6
}

.language-switcher-locale-url li.last {
    margin-right: 0
}

.well {
    border: none;
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0
}

.frontvzagol {
    font-size: 44px
}

.front_home h1 {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase
}

.front_home h1 span {
    font-size: 22px;
    display: block
}

.front_home img {
    margin: auto;
    width: 100%
}

.dobro {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 30px;
    display: table;
    margin: 45px auto;
}

.front_akmola {
    background: url(../img/two_fon.png) top center no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    font-size: 44px;
    color: #fff
}

.colic1 {
    margin-top: 48%
}

.view-akmola {
    padding: 80px 0
}

.front .view-akmola .views-row-1 {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    margin-left: -100px;
    z-index: 9;
    position: relative
}

.front .view-akmola .views-row-2 {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    margin-top: -120px;
    position: relative;
    z-index: 6
}

.front .view-akmola .views-row-3 {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    margin-top: -120px;
    position: relative;
    z-index: 2
}

.front_event .akmo:hover{
    text-decoration: none;
    color: #000;
}

.front_event .akmo:hover .event_title{
    text-decoration: underline;
}

.akmo {
    display: inline-block;
    background: #fff;
    padding: 25px 25px 15px 25px;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #000;
    text-decoration: none;
    overflow: hidden
}

.akmo a {
    color: #000;
    font-size: 19px;
    text-decoration: none
}

.event_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 19px
}

.akmo a:hover .event_title {
    text-decoration: underline !important;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto
}

.front_marshrut {
    background: url(../img/three_fon.png) top center no-repeat;
    background-size: cover;
    padding-bottom: 60px;
    font-size: 44px;
    color: #fff;
    padding-top: 50px
}

.front .view-marshrutru .views-row-1 {
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    margin-left: 100px;
    z-index: 9;
    position: relative
}

.front .view-marshrutru .views-row-2 {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
    margin-top: -20px;
    position: relative;
    z-index: 6;
    margin-left: 120px
}

.front .view-marshrutru .views-row-3 {
    -webkit-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    transform: rotate(9deg);
    margin-top: 20px;
    position: relative;
    z-index: 2;
    margin-left: -90px
}

.heading {
    border-left: 5px solid;
    padding-left: 15px
}

.tours-maincontent {
    margin-top: 40px;
}

.tours-maincontent_head {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.tours-maincontent_img {
    width: 48%;
    height: 220px
}

.tours-maincontent_img img {
    width: 100%;
    height: auto;
    margin: auto;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%
}

.tours-maincontent_info {
    width: 48%
}

.tours-maincontent_text {
    margin-top: 70px
}

#block-views-marshrutru-block-1 {
    background: #e8e8e8;
    padding: 33px 20px
}

#block-views-marshrutru-block-1 .views-row {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid silver
}

#block-views-marshrutru-block-1 .views-row a {
    font-size: 16px;
    text-transform: uppercase;
    color: #000
}

.front_hotel {
    background: url(../img/four_fon.png) top center no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    font-size: 44px;
    color: #fff
}

.front_hotel h2 {
    margin-top: 90%
}

.front .view-wheretostay .views-row-1 {
    -webkit-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
    margin-left: 100px;
    z-index: 9;
    position: relative
}

.front .view-wheretostay .views-row-2 {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    margin-top: -10px;
    position: relative;
    z-index: 6;
    margin-left: 120px
}

.front .view-wheretostay .views-row-3 {
    -webkit-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    transform: rotate(9deg);
    margin-top: -20px;
    position: relative;
    z-index: 2;
    margin-left: -20px
}

#block-block-10 {
    background: url(../img/hoteltopfon.png) top center no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    padding-top: 25px;
    color: #fff;
    height: 299px;
    margin-bottom: 20px
}

.oteltopkat {
    width: 25%;
    float: left;
    text-align: center;
    border-right: 1px solid #053348
}

.oteltopkat p {
    line-height: 1
}

.oteltopkat p span {
    font-size: 83px;
    display: block
}

.block-easy-breadcrumb {
    margin-top: 20px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #136386
}

.easy-breadcrumb a {
    color: #fff
}

.easy-breadcrumb_black a {
    color: #000
}

#block-block-11 {
    background: url(../img/hoteltopfon.png) top center no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    padding-top: 25px;
    color: #fff;
    height: 299px;
    margin-bottom: 20px
}

#block-block-14 {
    background: url(../img/hoteltopfon.png) top center no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    padding-top: 25px;
    color: #fff;
    height: 299px;
    margin-bottom: 20px
}

.tit {
    font-size: 46px;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 10px
}

.node-type-gdeostanov .page-header {
    display: none
}

.hotinfob .cena_hotel {
    background: url(../img/cena_fon.png) top center no-repeat;
    background-size: cover;
    color: #000;
    padding: 30px 30px;
    margin-left: 10px;
    border-left: none
}

.group-md4 {
    background: #f7f7f7;
    padding: 0
}

.field-name-field {
    padding: 30px 45px;
    border-bottom: 1px solid #e1e1e1;
    width: 90%;
    margin: auto;
    font-size: 18px;
    line-height: 1.2
}

.field-name-field-adres {
    padding: 30px 45px;
    border-bottom: 1px solid #e1e1e1;
    width: 90%;
    margin: auto;
    background: url(../img/for-map.png) center left 20px no-repeat;
    font-size: 18px;
    line-height: 1.2
}

.field-name-field-phone {
    padding: 30px 45px;
    border-bottom: 1px solid #e1e1e1;
    width: 90%;
    margin: auto;
    background: url(../img/for-phon.png) center left 20px no-repeat;
    font-size: 18px;
    line-height: 1.2
}

.field-name-field-adressite {
    padding: 30px 45px;
    border-bottom: 1px solid #e1e1e1;
    width: 90%;
    margin: auto;
    background: url(../img/for-site.png) center left 20px no-repeat;
    font-size: 18px;
    line-height: 1.2
}

.field-name-field-metka div.geofield-ymap {
    height: 250px
}

.podfothot {
    margin-top: 15px;
    padding-bottom: 45px;
    margin-bottom: 45px;
    border-bottom: 1px solid #e8e8e8
}

.front_restoran {
    background: url(../img/five_fon.png) top center no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    font-size: 44px;
    color: #fff
}

.front_restoran h2 {
    margin-top: 90%
}

.front .view-gdepozhrat .views-row-1 {
    -webkit-transform: rotate(-11deg);
    -ms-transform: rotate(-11deg);
    transform: rotate(-11deg);
    margin-left: 100px;
    z-index: 9;
    position: relative;
    margin-top: 70px
}

.front .view-gdepozhrat .views-row-2 {
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
    margin-top: -10px;
    position: relative;
    z-index: 6;
    margin-left: -40px
}

.front .view-gdepozhrat .views-row-3 {
    -webkit-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
    margin-top: -80px;
    position: relative;
    z-index: 2;
    margin-left: -20px
}

.front_event {
    background: url(../img/six_fon.png) top center no-repeat;
    background-size: cover;
    padding-top: 85px;
    padding-bottom: 85px;
    font-size: 44px;
    color: #fff
}

.countdownHolder {
    display: none
}

.front_event .akmo {
    padding: 15px 25px 15px 15px;
    border-radius: 20px;
    width: 100%
}

.front_event .akmo img {
    float: left;
    border-radius: 20px;
    margin-right: 10px
}

.front_event .akmo p {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    padding-top: 20px
}

.timer {
    border-radius: 40px;
    color: #0096d6;
    font-size: 22px;
    position: relative;
    padding: 38px 20px;
    margin-left: -20px
}

.timer p {
    position: absolute;
    padding: 5px 15px;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    z-index: 999;
    font-size: 12px !important;
    margin-left: 25px;
    top: 1px
}

.timer .date-display-single {
    background: #0096d6;
    padding: 15px 50px;
    border-radius: 60px;
    color: #fff
}

.event_page_b img {
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
}

.event_page_b a:hover {
    text-decoration: underline;
    color: #209bd4;
}

.event_page_b a:hover img {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
    filter: brightness(1.15);
}

.event_page_b {
    margin-bottom: 60px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important
}

.event_page_b:hover img {
    -webkit-transition: .8s all;
    -o-transition: .8s all;
    transition: .8s all;
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
    filter: brightness(1.15);
}

.event_zagol {
    background: #fff;
    height: 100px;
    color: #209bd4;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.event_zagol a {
    color: #209bd4;
    font-family: 'Museo Cyrl'
}

.event_zagol p {
    overflow: hidden;
    font-family: 'Museo Cyrl', sans-serif;
    font-weight: 700;
    text-align: center
}

.event_page_b .timer {
    text-align: center;
    line-height: 1.1;
    margin: auto auto 20px;
    padding-bottom: 20px;
    padding-top: 0;
    background: url(../img/line_event.png) bottom center no-repeat
}

.event_page_b .timer p {
    margin-left: 0;
    background: 0 0;
    padding-top: 0;
}

.event_page_b .timer .date-display-single {
    background: 0 0;
    color: #000;
    font-weight: 600
}

.imgtimer {
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    overflow: hidden
}

.index_imgtimer {
    display: inline
}

.timer_text {
    position: inherit !important;
    font-weight: 700
}

.event_mesto {
    text-align: center;
    color: #000
}

.event_mesto:before {
    content: url(../img/nakarte2.png);
    position: absolute;
    margin-left: -20px
}

.front_turimz {
    background: url(../img/seven_fon.png) top center no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    font-size: 44px;
    color: #fff;
    padding-top: 160px
}

.front_turimz .frontvzagol {
    margin-top: 80%
}

.bturistu img {
    display: inline-block;
    padding: 10px;
    background: #fff;
    border-radius: 90px;
    float: left;
    margin-right: 30px
}

.bturistu p {
    font-size: 30px;
    color: #fff;
    padding-top: 55px
}

.bturistu:hover p {
    text-decoration: underline;
    color: #fff
}

#block-views-touristfor-block .views-row {
    display: grid;
    margin-bottom: 50px
}

#block-views-touristfor-block--2 .views-row {
    display: grid;
    margin-bottom: 50px
}

#block-views-touristfor-block-1 {
    background: #e8e8e8;
    padding: 33px 20px
}

#block-views-touristfor-block-1 .views-row {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid silver
}

#block-views-touristfor-block-1 .views-row a {
    font-size: 16px;
    text-transform: uppercase;
    color: #000
}

#block-block-12 {
    background: url(../img/hoteltopfon.png) top center no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    padding-top: 25px;
    color: #fff;
    height: 299px;
    margin-bottom: 20px
}

.pamyat_t {
    font-size: 14px;
    margin-top: 20px
}

#block-block-12 .oteltopkat {
    width: 20%
}

.hotnomer {
    background: #ffde00;
    color: #000;
    font-size: 21px;
    font-weight: 700;
    padding: 20px 25px;
    border-radius: 80px;
    text-transform: uppercase
}

.page-for-tourist {
    background: url(../img/man_tourist.png) bottom 405px left 70% no-repeat
}

.blubut {
    display: table;
    font-size: 18px;
    padding: 15px 30px;
    border: 2px solid #0a99d8;
    color: #fff;
    margin-top: 15px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.blubut:hover {
    -webkit-transform: translate(0, -3px);
    -ms-transform: translate(0, -3px);
    transform: translate(0, -3px);
    color: #fff;
    background: #0a99d8
}

.blubut:active,
.blubut:focus {
    border: 2px solid #0a99d8 !important;
    color: #fff
}

.page-where-to-stay .views-row {
    margin-bottom: 25px;
    box-shadow: 0 0 7px #ccc;
    background: #f5f5f5
}

.zg_block {
    margin-top: 20px
}

.zg_hotel {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px
}

.zg_block p {
    margin-top: 20px
}

.cena_hotel p span {
    font-size: 42px;
    display: block;
    font-weight: 700
}

.cena_hotel p {
    line-height: 1
}

.cena_hotel {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    text-align: left;
    padding-left: 30px;
    border-left: 1px dashed #b8b8b8
}

.cena_block {
    display: table;
    height: 222px
}

.zg_block a {
    color: #06a0e2
}

#block-views-wheretostay-block-1 .block-title {
    background: #06a0e2;
    color: #fff;
    font-size: 21px;
    text-align: center;
    border-radius: 26px;
    padding: 18px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

#block-views-wheretostay-block-1 .block-title span {
    display: block;
    font-weight: 700
}

.reczagol {
    text-align: left;
    margin-left: 48px
}

.reczagol:before {
    content: url(../img/recomend.png);
    position: absolute;
    left: 15px;
    top: 15px
}

#block-views-wheretostay-block-1 p {
    font-size: 18px;
    padding: 20px 5px;
    color: #000
}

#block-views-wheretostay-block-1 .views-row {
    border: none;
    background: 0 0;
}

.object_left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.kolvo {
    display: inline;
    background: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 18px;
    color: #000
}

.object_reviews {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 330px
}

.object_reviews_noStar {
    width: 190px
}

.page-where-to-eat .views-row {
    margin-bottom: 25px;
    box-shadow: 0 0 7px #ccc;
    background: #f5f5f5
}

.zg_block {
    margin-top: 20px
}

.zg_hotel {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px
}

.zg_block p {
    margin-top: 20px
}

.cena_hotel p span {
    font-size: 42px;
    display: block;
    font-family: 'Museo Cyrl', sans-serif !important;
    font-weight: 700;
}

.cena_hotel p {
    line-height: 1
}

.cena_hotel {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    background: #fff;
    text-align: left;
    padding-left: 30px;
    border-left: 1px dashed #b8b8b8
}

.zg_block a {
    color: #06a0e2
}

#block-views-gdepozhrat-block-1 .block-title {
    background: #06a0e2;
    color: #fff;
    font-size: 21px;
    text-align: center;
    border-radius: 26px;
    padding: 18px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

#block-views-gdepozhrat-block-1 .block-title span {
    display: block;
    font-weight: 700
}

.reczagol {
    text-align: left;
    margin-left: 48px
}

.reczagol:before {
    content: url(../img/recomend.png);
    position: absolute;
    left: 22px;
    top: 21px;
}

#block-views-gdepozhrat-block-1 p {
    font-size: 18px;
    padding: 20px 5px;
    color: #000
}

#block-views-gdepozhrat-block-1 .views-row {
    border: none;
    background: 0 0;
}

.page-where-to-eat .kolvo {
    display: inline;
    background: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    margin-left: 0;
    font-size: 18px;
    color: #000
}

#block-block-15 {
    background: url(../img/hoteltopfon.png) top center no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    padding-top: 25px;
    color: #fff;
    height: 299px;
    margin-bottom: 20px
}

.node-type-gdepoest .page-header {
    display: none
}

.node-type-gdepoest .kolvo {
    margin-left: 0
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-between;
}

.content_item {
    width: 265px;
    margin: 6px;
}

.header_banner {
    margin-top: 25px
}

.event_img {
    height: 167px;
    margin: 0 auto;
    width: 100%
}

#block-block-13 {
    background: url(../img/hoteltopfon.png) top center no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    padding-top: 25px;
    color: #fff;
    height: 299px;
    margin-bottom: 20px
}

.page-where-to-go .block-easy-breadcrumb {
    color: #fff
}

.page-where-to-go .block-easy-breadcrumb a {
    color: #fff
}

.page-where-to-go .page-header {
    display: none
}

.node-type-fotoalbom .field-name-body {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.node-type-fotoalbom .field-item {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px
}

.footer {
    border: none;
    background: url(../img/fon_footer.png) top center no-repeat;
    background-size: cover;
    margin-top: 0;
    padding-bottom: 22px;
    z-index: 1
}

.footer_first {
    margin-top: 35px
}

.footer_first p {
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    opacity: .95
}

.footer hr {
    color: #000;
    height: 1px;
    background-color: #000;
    margin: 25px 0 0;
    opacity: .7
}

.region-footer {
    position: relative
}

#block-block-9 {
    z-index: 9
}

.footcontact {
    margin-top: 15px
}

.footcontact_content {
    margin: 0 auto;
    width: 77%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.footcontact h6 {
    font-size: 26px;
    color: #575757;
    text-transform: uppercase;
    margin-top: 30px
}

.footcontact p {
    color: #575757
}

.footcos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin: 0 auto 30px;
}

.footcos img {
    margin: 0 auto;
    width: 209px;
}

.footcos2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 39%;
    margin: 24px auto 0;
}

.footcos2 a {
    color: #002e5b !important;
    font-size: 21px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    opacity: .7
}

.footcos2 a:hover {
    color: #ffaf00 !important;
    opacity: 1
}

.field .field-label {
    font-weight: 700
}

.field-label-inline .field-items,
.field-label-inline .field-label {
    float: left
}

form .field-multiple-table {
    margin: 0
}

form .field-multiple-table th.field-label {
    padding-left: 0
}

form .field-multiple-table td.field-multiple-drag {
    width: 30px;
    padding-right: 0
}

form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
    padding-right: .5em
}

form .field-add-more-submit {
    margin: .5em 0 0
}

.node-type-akmola .block-easy-breadcrumb {
    padding-bottom: 25px;
    margin-top: 20px;
    color: #000
}

.node-type-akmola .block-easy-breadcrumb a {
    color: #000
}

.not-front .footer {
    margin-top: 40px
}

.page-about-aqmola .block-easy-breadcrumb {
    padding-bottom: 25px;
    margin-top: 20px;
    color: #000
}

.page-about-aqmola a {
    color: #000
}

.page-about-aqmola .views-field-title a {
    font-size: 30px
}

.page-about-aqmola .views-row {
    display: flow-root;
    margin-bottom: 40px
}

.page-about-aqmola .views-row .views-field-field-materialimg {
    float: left;
    margin-right: 10px
}

.page-about-aqmola .view-akmola {
    padding: 20px 0 !important
}

.page-for-tourist .block-easy-breadcrumb {
    padding-bottom: 25px;
    margin-top: 20px;
    color: #000
}

.page-for-tourist .block-easy-breadcrumb a {
    color: #fff
}

.page-for-tourist .block-easy-breadcrumb {
    color: #fff
}

.node-type-pamyatka .block-easy-breadcrumb a {
    color: #fff
}

.node-type-pamyatka .block-easy-breadcrumb {
    color: #fff;
    padding-bottom: 25px;
    margin-top: 20px
}

.page-events .block-easy-breadcrumb {
    padding-bottom: 25px;
    margin-top: 20px;
    color: #000
}

.page-events a {
    color: #000
}

.page-tours .block-easy-breadcrumb,
.page-news .block-easy-breadcrumb {
    padding-bottom: 25px;
    margin-top: 20px;
    color: #000
}

.page-news a {
    color: #000
}

.node-type-news .block-easy-breadcrumb {
    padding-bottom: 25px;
    margin-top: 20px;
    color: #000
}

.node-type-news a {
    color: #000
}

.page-for-tourist .views-row {
    display: flow-root;
    margin-bottom: 40px
}

.page-for-tourist .bturistu p {
    color: #000
}

.node-type-marshrut .block-easy-breadcrumb {
    padding-bottom: 25px;
    margin-top: 20px;
    color: #000
}

.node-type-marshrut a {
    color: #000
}

.page-foto .block-easy-breadcrumb {
    padding-bottom: 25px;
    margin-top: 20px;
    color: #000
}

.page-foto a {
    color: #000
}

.node-type-fotoalbom .block-easy-breadcrumb {
    padding-bottom: 25px;
    margin-top: 20px;
    color: #000
}

.node-type-fotoalbom a {
    color: #000
}

.dropdown:hover > .dropdown-menu {
    display: block
}

.comment-wrapper {
    display: none
}

.comment_forbidden {
    display: none
}

#block-views-maps-block {
    height: 600px
}

div.geofield-ymap {
    height: 600px
}

.first_map{
    height: 400px;
}


.block-search{
    position: relative;
    float: none;
    font-size: 22px;
}

.form-search{
    display: none;
    position: absolute;
    width: 266px;
    height: 87px;
    left: -188px;
    top: 36px;
    background: #68c6ed;
    border-radius: 3px;
}

.search_open{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_btn{
    border: 1px solid #fff !important;
}

.form-search input {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.input-group{
    margin: 25px auto 0;
}

#block-search-form {
    margin-top: 5px;
    margin-bottom: -5px;
}

.form-search .btn-primary {
    color: #fff;
    background-color: #68c6ed;
    border: none #2e6da4;
    -webkit-box-shadow: none;
    box-shadow: none
}

.node footer {
    display: none
}

.yablolink {
    color: #fff
}

@media (max-width:1350px) {
    .home {
        background-position: top
    }
}

@media (max-width:1200px) {
    .home {
        background-position: top
    }

    .block_text {
        margin-top: 20% !important;
        margin-bottom: 50px
    }

    .block_text_title {
        margin-top: 0 !important
    }

    .timer .date-display-single {
        padding: 15px 28px
    }

    .cena_hotel p span {
        font-size: 34px !important
    }

    .front_event .akmo p {
        font-size: 18px
    }

    .kolvo {
        display: block;
        width: 130px;
        margin: 12px 0 0 15px;
    }

    .cena_block {
        height: 222px
    }

    .rekomen p {
        left: 5px;
    }

    .wts.zg_block a{
        font-size: 22px;
    }

    .zg_block p{
        margin-top: 10px;
    }
}

@media (max-width:991px) {

    .aq_content_item_odd_item {
        margin-left: 0
    }

    .aq_content_field_img {
        margin-top: 0
    }

    .block_text_2 {
        margin-top: 44% !important
    }

    .block_cards {
        text-align: center
    }

    .cena_block {
        margin-top: 15px;
        width: 100%
    }

    .cena_block {
        height: 135px
    }

    .kolvo {
        margin: 15px auto 0;
    }

    .blo_imghei img {
        margin: 0 auto
    }

    .cena_hotel,
    .zg_block {
        text-align: center
    }

    .cena_hotel {
        padding-left: 0;
        border: 0;
    }

    #block-views-marshrutru-block-1 .views-row a {
        font-size: 13px
    }

    .block-easy-breadcrumb {
        margin-top: 0
    }

    #block-block-14 {
        height: auto;
    }

    #block-views-gdepozhrat-block-1 .block-title {
        font-size: 15px
    }

    #block-views-wheretostay-block-1 .block-title {
        font-size: 16px
    }

    .reczagol {
        margin-left: 35px
    }

    .reczagol:before {
        left: 17px;
        top: 18px;
    }

    .tit {
        font-size: 39px
    }

    .object_right {
        display: none
    }

    .event_text {
        text-align: left
    }

    .swipe_dots {
        top: 13%;
    }

    .slider {
        padding: 0 !important;
    }

    .slick-slide img {
        max-width: 100%;
    }

    .slider .slick-dots{
        bottom: 20px;
        width: 100%;
    }

    .rekomen p {
        bottom: 0;
        left: 10px;
    }

    .content{
        justify-content: space-around;
    }

}

@media (max-width:767px) {

    .container {
        width: 100%
    }

    .marsh_item {
        text-align: center
    }

    .dobro {
        font-size: 22px
    }

    #block-views-marshrutru-block-1 .views-row a {
        font-size: 16px
    }

    .review_list {
        width: 100%;
        padding: 0
    }

    .navbar-toggle {
        margin-top: 30px
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background: #fcfcfc;
        overflow: hidden
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
        width: 94%
    }

    nav {
        background: #fcfcfc
    }

    .navbar-nav {
        margin-left: 5px
    }

    #block-locale-language {
        margin-left: 15px;
    }
    
    .block-locale{
        margin-right: 0;
        margin-top: 7px;
    }

    .region-hed {
        padding-bottom: 40px
    }

    .front_home img {
        margin-top: 50px
    }

    .dropdown:hover > .dropdown-menu {
        display: none
    }

    .navbar-nav .open .dropdown-menu {
        display: block !important
    }

    .blubut {
        font-size: 14px;
        padding: 15px 20px;
        margin-bottom: 20px
    }

    .front .view-akmola .views-row-1 {
        margin-left: 10px;
        -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    .front .view-akmola .views-row-2 {
        -webkit-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
        margin-top: -40px;
        margin-left: 10px
    }

    .front .view-akmola .views-row-3 {
        margin-top: -40px;
        margin-left: 10px
    }

    .front_akmola {
        background: url(../img/two_fon.png) top 0 left -770px no-repeat;
        background-size: cover
    }

    .colic1 {
        margin-top: 20%
    }

    .front_akmola .views-row {
        max-width: 90%
    }

    .block-easy-breadcrumb {
        padding-bottom: 20px;
        margin-bottom: 20px
    }

    #block-block-10 {
        height: auto
    }

    .oteltopkat {
        margin-top: 15px
    }

    .oteltopkat p span {
        font-size: 42px
    }

    .reczagol:before {
        left: 25px
    }

    .front_hotel {
        background: url(../img/four_fon.png) top 0 center no-repeat;
        background-size: cover
    }

    .front_hotel h2 {
        margin-top: 30%
    }

    .blo_imghei {
        height: 200px;
        overflow-y: hidden
    }

    .blo_imghei img {
        width: 100% !important;
    }

    .zg_block {
        padding: 0 25px
    }

    .cena_block {
        width: 100%;
        height: 100px;
        margin-top: 10px
    }

    #block-block-11 {
        height: auto
    }

    .front_restoran {
        background: url(../img/five_fon.png) top 0 center no-repeat;
        background-size: cover
    }

    .front_restoran h2 {
        margin-top: 30%
    }

    .front .view-marshrutru .views-row {
        max-width: 80%
    }

    .front .view-marshrutru .views-row-1 {
        margin-left: 30px;
        margin-top: 30px
    }

    .front .view-marshrutru .views-row-2 {
        -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        transform: rotate(2deg);
        margin-left: 30px;
        margin-top: 10px
    }

    .front .view-marshrutru .views-row-3 {
        margin-left: 30px;
        -webkit-transform: rotate(6deg);
        -ms-transform: rotate(6deg);
        transform: rotate(6deg)
    }

    .page-where-to-stay .views-row,
    .view-gdepozhrat .views-row {
        max-width: 60%;
        margin: 15px auto;
    }

    .dr_content_item {
        margin: 0 auto 30px;
    }

    #block-views-wheretostay-block .views-row {
        max-width: 80%
    }

    .front .view-wheretostay .views-row-1 {
        -webkit-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
        margin-left: 30px
    }

    .front .view-wheretostay .views-row-2 {
        -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
        margin-left: 40px
    }

    .front .view-wheretostay .views-row-3 {
        margin-left: 20px
    }

    .front_event .akmo img {
        width: 100%;
        margin: auto
    }

    .front_event .akmo p {
        display: inline-block;
        padding-top: 14px;
        margin-top: 10px
    }

    .event_text {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .bturistu {
        text-align: center
    }

    .bturistu a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .bturistu p {
        display: inline-block;
        padding-top: 0;
        margin-top: 15px
    }

    .bturistu img {
        height: 185px;
        width: 185px;
        display: inline-block;
        padding: 9px;
        background: #fff;
        border-radius: 90px;
        float: left;
        margin: 0 auto
    }

    .frontvzagol {
        font-size: 38px;
        line-height: 1
    }

    .front_turimz {
        padding-top: 0;
        background: url(../img/seven_fon.png) top 0 center no-repeat;
        background-size: cover
    }

    .front_turimz .frontvzagol {
        margin-top: 30%
    }

    .footer {
        padding-bottom: 0
    }

    .footcos img {
        margin-right: 15px
    }

    .region-footer:after {
        display: none
    }

    .footcos img:nth-child(2) {
        margin-left: 25px
    }

    .footcos img:nth-child(1) {
        display: block;
        text-align: center;
        margin: auto auto 20px;
    }

    .footcontact {
        margin-top: 65px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }

    #block-block-8 {
        padding: 0 15px
    }

    .footcos2 {
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex
    }

    #block-search-form {
        float: right !important;
        margin: 0 !important
    }

    #block-block-13 {
        height: auto;
        padding-bottom: 35px
    }

    .page-where-to-go .oteltopkat p {
        font-size: 12px;
        word-break: break-all
    }

    .node-type-wheretogo .oteltopkat p {
        font-size: 12px;
        word-break: break-all
    }

    .event_page_b {
        margin-bottom: 40px;
        padding-bottom: 10px
    }

    #block-block-12 {
        height: auto
    }

    #block-block-12 .hotnomer {
        width: 100% !important
    }

    #block-block-12 .oteltopkat {
        width: 25%
    }

    .page-for-tourist {
        background: 0 0
    }

    .footcontact_content {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%
    }

    .reczagol,
    .rekomen {
        text-align: center
    }

    .rekomen img {
        width: 100%;
    }

    #block-block-15 {
        height: auto
    }

    .aq_content_item {
        padding: 0;
    }

    .slider .slick-arrow.slick-prev {
        left: 30px;
    }

    .slider .slick-arrow.slick-next {
        right: 30px;
    }

    .footcos2 a {
        font-size: 30px;
    }

    .rekomen p {
        position: absolute;
        font-size: 20px !important;
        text-align: left;
    }
    
    .home_container{
        display: block;
    }
    
    .navigation{
        width: 100%;
        flex-wrap: wrap;
    }
    
    .navigation > div{
        justify-content: space-between;
        width: 100%;
    }
    
    .navbar-nav{
        width: 100%;
    }
    
    .form-search{
        display: block;
        position: relative;
        top: 0;
        left: 0;
        background: transparent;
    }
    
    .input-group input{
        width: 150px !important;
    }
    
    .form_toggle_btn{
        display: none;
    }

    .input-group{
        margin-top: 0;
    }

    .search_content_item{
        flex-wrap: wrap;
    }

    .search_item_img{
        width: 100%;
        height: 380px;
    }

    #magnify img {
        height: 300px;
    }

    .slick-dots{
        display: none !important;
    }

}

@media (max-width:576px) {
    .oteltopkat p {
        font-size: 12px
    }

    .page-where-to-go .oteltopkat p {
        font-size: 10px
    }

    .object_left {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .cena_hotel {
        margin-top: 15px
    }

    .slider .slick-arrow.slick-prev {
        left: 20px;
    }

    .slider .slick-arrow.slick-next {
        right: 20px;
    }

    .blubut {
        padding: 14px 10px;
    }

    .footcos2 {
        width: 60%;
    }

    .swipe_dots {
        display: none !important;
    }

    #block-search-form {
        margin: 0 !important;
    }

    .filter_content {
        flex-direction: column;
    }

    .filter_item_area {
        margin-top: 25px;
        margin-left: 0;
    }

    .confirm_filter {
        position: relative;
        margin-top: 30px;
        margin-left: 19px;
    }

    .stars_list_item,
    .type_list_item {
        width: 155px;
    }

    .page-where-to-stay .views-row,
    .view-gdepozhrat .views-row {
        max-width: 80%
    }

    .blo_imghei {
        height: 190px;
        width: 100%;
    }
    
    .input-group{
        margin-left: 0;
    }
}

#autocomplete {
    border: 1px solid;
    overflow: hidden;
    position: absolute;
    z-index: 100;
}

#autocomplete ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#autocomplete li {
    background: #fff;
    color: #000;
    cursor: default;
    white-space: pre;
    zoom: 1
}

html.js input.throbbing {
    background-image: url(../img/throbber-active.gif);
    background-position: 100% center
}

html.js fieldset.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    height: 1em
}

html.js fieldset.collapsed .fieldset-wrapper {
    display: none
}

fieldset.collapsible {
    position: relative
}

fieldset.collapsible .fieldset-legend {
    display: block
}

.form-textarea-wrapper textarea {
    display: block;
    margin: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body.drag {
    cursor: move
}

.draggable a.tabledrag-handle {
    cursor: move;
    float: left;
    height: 1.7em;
    margin-left: -1em;
    overflow: hidden;
    text-decoration: none
}

a.tabledrag-handle:hover {
    text-decoration: none
}

a.tabledrag-handle .handle {
    height: 13px;
    margin: -.4em .5em;
    padding: .42em .5em;
    width: 13px
}

a.tabledrag-handle-hover .handle {
    background-position: 6px -11px
}

div.indentation {
    float: left;
    height: 1.7em;
    margin: -.4em .2em -.4em -.4em;
    padding: .42em 0 .42em .6em;
    width: 20px
}

.tabledrag-toggle-weight-wrapper {
    text-align: right
}

table.sticky-header {
    background-color: #fff;
    margin-top: 0
}

.progress .bar {
    background-color: #fff;
    border: 1px solid
}

.progress .filled {
    background-color: #000;
    height: 1.5em;
    width: 5px
}

.progress .percentage {
    float: right
}

.ajax-progress {
    display: inline-block
}

.ajax-progress .throbber {
    background: transparent url(../img/throbber-active.gif) no-repeat 0 center;
    float: left;
    height: 15px;
    margin: 2px;
    width: 15px
}

.ajax-progress .message {
    padding-left: 20px
}

tr .ajax-progress .throbber {
    margin: 0 2px
}

.ajax-progress-bar {
    width: 16em
}

.container-inline div,
.container-inline label {
    display: inline
}

.container-inline .fieldset-wrapper {
    display: block
}

.nowrap {
    white-space: nowrap
}

html.js .js-hide {
    display: none
}

.element-hidden {
    display: none
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

* html .clearfix {
    height: 1%
}
