* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none
}

.swipe_btn {
    position: fixed;
    font-size: 55px;
    right: 45px;
    top: 83%;
    z-index: 6;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #000;
    opacity: .3;
    display: none
}

.swipe_btn:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    color: #eeaa5a;
    opacity: 1 !important
}

.swipe_btn:target {
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s
}

.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%
}

.site_content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.footer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.home_title {
    margin-top: 50px
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.menu {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.menu_item a {
    font-family: Muli, sans-serif;
    color: #000
}

.dropdown-menu {
    top: auto
}

.menu_item_link {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.menu_item_link::before {
    position: absolute;
    content: '';
    background: #000;
    height: 1px;
    width: 0%;
    left: auto;
    right: 0;
    bottom: 0;
    z-index: 1000;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.menu_item_link:hover::before {
    position: absolute;
    content: '';
    background: #000;
    height: 1px;
    width: 100%;
    left: 0;
    z-index: 5;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: .6
}

.active_link::before {
    position: absolute;
    content: '';
    background: #000;
    height: 1px;
    width: 100%;
    left: auto;
    right: 0;
    bottom: 0;
    z-index: 1000;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.btn:active,
.btn:focus {
    border: none !important;
    outline: 0 !important
}

.content_title {
    margin-top: 25px;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    font-weight: 700
}

.review_container {
    padding: 10px 20px 30px
}

.review_list {
    width: 80%;
    list-style: none
}

.review_list_item {
    padding: 10px 0;
    margin-top: 15px;
    border-bottom: 1px solid #ccc
}

.review_author {
    font-size: 21px
}

.review_text {
    padding: 10px 0 0 25px
}

.review_date {
    font-size: 13px;
    opacity: .8
}

.review_form {
    margin-top: 25px
}

.review_form label {
    display: block;
    margin: 0;
}

.review_form_input {
    width: 396px;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}

.review_form_btn {
    display: block;
    margin-top: 25px;
    background-color: #fff;
    border: 2px solid #004260;
    color: #004260;
    height: 40px;
    width: 130px;
    font-weight: 700;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.review_form_btn:hover {
    background-color: #004260;
    border: 2px solid #004260;
    color: #fff
}

.review_form_title {
    margin-top: 25px;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    font-size: 24px;
}
