* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Museo Cyrl', sans-serif !important;
    font-weight: 500;
}

a {
    text-decoration: none
}

.rekomen {
    transition: .4s all;
}

.rekomen div{
    display: flex;
    justify-content: center;
    position: relative;
}

.rekomen:hover img{
    position: relative;
    filter: brightness(0.9);
}

.rekomen:hover p{
    text-shadow: 0 1px 11px #000;
    transition: .4s all;
    transform: translate(0, -10px);
}

.rekomen p {
    position: absolute;
    bottom: 15px;
    left: 10px;
    color: #fff !important;
    font-weight: 700 !important;
    transition: .4s all;
}

.rekomen img {
    position: relative;
    text-align: center;
    filter: brightness(0.8);
    transition: .4s all;
}

.swipe_btn {
    position: fixed;
    font-size: 55px;
    right: 45px;
    top: 83%;
    z-index: 6;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #000;
    opacity: .3;
    display: none
}

.swipe_btn:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    color: #eeaa5a;
    opacity: 1 !important
}

.swipe_btn:target {
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s
}

.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%
}

.site_content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.footer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.home_title {
    margin-top: 50px
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.menu {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.menu_item a {
    font-family: Muli, sans-serif;
    color: #000
}

.dropdown-menu {
    top: auto
}

.menu_item_link {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.menu_item_link::before {
    position: absolute;
    content: '';
    background: #000;
    height: 1px;
    width: 0%;
    left: auto;
    right: 0;
    bottom: 0;
    z-index: 1000;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.menu_item_link:hover::before {
    position: absolute;
    content: '';
    background: #000;
    height: 1px;
    width: 100%;
    left: 0;
    z-index: 5;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: .6
}

.active_link::before {
    position: absolute;
    content: '';
    background: #000;
    height: 1px;
    width: 100%;
    left: auto;
    right: 0;
    bottom: 0;
    z-index: 1000;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.btn:active,
.btn:focus {
    border: none !important;
    outline: 0 !important
}

.content_title {
    margin-top: 25px;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    font-weight: 700
}

.review_container {
    padding: 10px 20px 30px
}

.review_list {
    width: 80%;
    list-style: none
}

.review_list_item {
    padding: 10px 0;
    margin-top: 15px;
    border-bottom: 1px solid #ccc
}

.review_author {
    font-size: 21px
}

.review_text {
    padding: 10px 0 0 25px
}

.review_date {
    font-size: 13px;
    opacity: .8
}

.review_form {
    margin-top: 25px
}

.review_form label {
    display: block;
    margin: 0;
}

.review_form_input {
    width: 396px;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}

.review_form_btn {
    display: block;
    margin-top: 25px;
    background-color: #fff;
    border: 2px solid #004260;
    color: #004260;
    height: 40px;
    width: 130px;
    font-weight: 700;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.review_form_btn:hover {
    background-color: #004260;
    border: 2px solid #004260;
    color: #fff
}

.review_form_title {
    margin-top: 25px;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    font-size: 24px;
}

/*

   * {
  box-sizing: border-box;
}

input[type='text'] {
  -webkit-appearance: none;
  outline: none;
  border: 0;
    color: #00338c;
}

.search_wrap {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

form {
  position: relative;
  display: block;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin-left: 0;
  padding: 0;
  margin-bottom: 10px;
  border: 4px solid #00cdfc;
  border-radius: 20px;
  -webkit-transition: all 0.25s ease 0.3s;
  transition: all 0.25s ease 0.3s;
  cursor: pointer;
    float: right;
}
form::before {
  content: "";
  position: absolute;
  display: block;
  top: 90%;
  left: 90%;
  width: 16px;
  height: 3px;
  background-color: #00cdfc;
  border-radius: 1px;
  -webkit-transition: width 0.15s ease 0.55s;
  transition: width 0.15s ease 0.55s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
form.open {
  width: 260px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
form.open:before {
  width: 0px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
form.open input {
  opacity: 1;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
form.open .cross:before, form.open .cross:after {
  width: 15px;
  right: 12px;
}
form.open .cross:before {
  top: 9px;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
form.open .cross:after {
  bottom: 9px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
form input {
  width: 100%;
  height: 100%;
  padding: 0 30px 0 15px;
  font-size: 14px;
  line-height: 38px;
  opacity: 0;
  background-color: transparent;
  color: #fff;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}
form .cross {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 20;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
form.cross:before, 
form.cross:after {
  content: "";
  position: absolute;
  display: block;
  right: 5px;
  height: 2px;
  width: 2px;
  border-radius: 1px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
form .cross:before {
  top: 2px;
  background-color: #00cdfc;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
form.cross:after {
  bottom: 2px;
  background-color: #00cdfc;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}
*/
