* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

.container {
    width: 76.41%;
    margin: 0 auto;
}

.header {
    background-color: #007778;
    height: 115px;
    display: flex;
    position: relative;
    align-items: center;
}

.header::after {
    clear: both;
}

.header_title {
    font-size: 33px;
    font-family: "Cambria";
    color: #ffffff;
    margin-left: 63px;
}

.menu_item_link {
    text-decoration: none;
}

.uzor {
    height: 115px;
    position: absolute;
    margin-left: 80px;
}

.logo {
    height: 61px;
    width: 271px;
    display: block;
    border-right: 1px solid #fff;
    z-index: 1000;
}

.logo_img {
    height: 60px;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    clear: both;
    background-color: #058d8e;
    height: 48px;
    display: flex;
    align-items: center;
}

.menu {
    margin: 0;
    padding: 0;
    height: 48px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_menu {
    height: 48px;
    width: 74%;
    float: left;
}

.menu_item {
    background-color: #058d8e;
    transition: .3s background-color ease;;
}

.menu_item :hover {
    background-color: #0fc7c8;
    transition: .3s background-color ease;;
}

.menu_item_link {
    height: 48px;
    text-align: center;
    font-size: 18px;
    font-family: "Cambria";
    color: #ffffff;
    text-transform: uppercase;
    padding: 0px 40px;
    display: flex;
    align-items: center;
}

.active_link {
    background-color: #0fc7c8;
}

.main_menu > input {
    display: none;
}

.toggleMenu {
    display: none;
}

.send {
    display: flex;
    margin-top: 7px;
    padding: 0 10px;
}

.search {
    width: 70%;
    height: 33px;
    border-radius: 5px;
    padding: 0 10px;
    outline: none;
}

.search_btn {
    height: 33px;
    width: 34px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #fff;
}


.search_btn :hover{
    cursor: pointer;
    color: #00c1c3;
}

.fa-search {
    color: #007778;
}

.predmety {
    background-color: #e8e8e8;
    height: 45px;
}

.predmety_menu {
    margin: 0;
    padding: 0;
    height: 45px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li a {
    text-decoration: none;
}

.predmety_menu_item {
    transition: .3s background-color ease;;
    background-color: #e8e8e8;
}

.predmety_menu_item :hover {
    background-color: #dcdcdc;
    transition: .3s background-color ease;;
}

.predmety_link {
    font-size: 14px;
    font-family: "Cambria";
    color: #007778;
    height: 45px;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 36px;
    display: flex;
    align-items: center;
}

.content_title {
    font-size: 25px;
    font-family: "Cambria";
    color: #007778;
    text-transform: uppercase;
    margin-top: 50px;
}

.article_description {
    font-size: 16px;
    font-family: "Cambria";
    color: #007778;
    margin: 0;
    margin: 10px 0 0 12px;
}

.article_title {
    font-weight: bold;
    font-size: 18px;
}

.article_list{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article_item > a{
    text-decoration: none;
}

.article_item > a:hover{
    text-decoration: underline;
    color: #014041;
}

.article_item{
    width: 273px;
    height: 285px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px;
}

.article_img{
    display: block;
    height: 100px;
    margin: 0 auto;
}

.article_item_link{
    display: block;
}

.article_date{
    font-size: 14px;
    color: #ccc;
    margin-top: 5px;
}

.number_count{
    width: 30px;
    margin-left: 10px;
}

.kgu_img {
    height: 200px;
    float: left;
    margin: 10px 10px 10px 7px;
}

.footer {
    background-color: #014041;
    height: 400px;
    padding: 70px 100px;
    display: flex;
    margin-top: 50px;
}

.footer_container {
    display: flex;
    max-width: 1920px;
}

.footer_side {
    width: calc(100%/3);
}

.footer_logo {
    border: 0;
}

.social_networks {
    margin-top: 135px;
}

.social_network {
    font-size: 28px;
    color: #fff;
    margin-left: 10px;
    transition: 0.3s color;
}

.social_network:hover {
    color: #e8c422;
}

.footer_right_text {
    margin: 0;
    font-size: 20px;
    font-family: "Cambria";
    color: #ffffff;
    line-height: 35px;
    margin-left: 34%;
}

.footer_midle_title {
    margin: 0;
    font-size: 30px;
    color: #fff;
}

.footer_links {
    list-style: none;
    padding: 0;
}

.footer_links_item {
    margin-top: 10px;
}

.footer_links_item a {
    text-decoration: none;
    color: #ccc;
    font-size: 22px;
    transition: 0.3s color;
    line-height: 28px;
}

.footer_links_item a:hover {
    color: #e8c422;
}

.toggleMenu {
    display: none;
    height: inherit;
    position: relative;
    background-color: @menu_color;
    cursor: pointer;
    padding: 15px 40px;
    font-size: 19px;
}

.footer_right_text_mobile {
    display: none;
}

.copyright {
    display: none;
}

@media (max-width: 1320px) {
    .predmety_link {
        padding: 0 5px;
    }

    .menu_item_link {
        font-size: 14px;
        padding: 0 20px;
    }
}

@media (max-width: 1050px) {
    .logo {
        border: 0;
    }
    
    .content{
        padding: 0 15px;
    }

    .content_text {
        font-size: 17px;
        margin-left: 0;
    }

    .content_text_title {
        font-size: 18px;
    }

    .footer {
        height: auto;
        flex-wrap: wrap;
        padding: 20px 15px;
    }

    .footer_logo {
        width: 212px;
    }

    .footer_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_side {
        width: 100%;
        margin-top: 50px;
    }

    .social_networks {
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }

    .footer_right_text {
        margin: 0;
        display: none;
    }

    .footer_midle_title {
        text-align: center;
    }

    .footer_links {
        text-align: center;
    }

    .footer_right,
    .footer_left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_right_text_mobile {
        display: block;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .copyright {
        display: block;
        font-size: 10px;
        margin: 0;
        font-size: 10px;
        font-family: "Cambria";
        color: #fff;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .container {
        width: 100%;
        margin: 0;
    }

    body {
        min-width: 100vw;
    }

    .header {
        height: 200px;
        width: 100%;
        padding: 50px;
        display: block;
        text-align: center;
    }

    .logo {
        border: 0;
    }

    .header_title {
        font-size: 19px;
        margin-left: 11px;
    }

    .uzor {
        display: none;
    }

    .toggleMenu {
        display: block;
    }

    .main_menu {
        width: 50%;
    }

    .menu_item {
        height: 100%;
        width: 100%;
    }

    .menu {
        width: 100%;
        display: none;
    }

    .input[type="checkbox"] {
        position: relative;
    }

    label .fa-bars {
        position: absolute;
        top: 15px;
        left: 12px;
        font-size: 20px;
    }

    input[type="checkbox"]:checked + .toggleMenu {
        display: block;
        color: #fff;
    }

    input[type="checkbox"]:checked ~ .menu {
        display: block;
        position: absolute;
        z-index: 1000;
    }

    .predmety {
        height: 150px;
    }

    .predmety_menu {
        display: flex;
        flex-wrap: wrap;
    }

    .predmety_menu_item {
        width: 50%;
    }

    .predmety_link {
        justify-content: center;
    }

    .about_us {
        font-size: 13px;
        margin: 15px 10px;
    }

    .kgu_img {
        height: 105px;
    }

    .content_title {
        text-align: center;
    }

    .footer {
        height: auto;
        flex-wrap: wrap;
        padding: 20px 15px;
    }

    .footer_logo {
        width: 212px;
    }

    .footer_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_side {
        width: 100%;
        margin-top: 50px;
    }

    .social_networks {
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }

    .footer_right_text {
        margin: 0;
        display: none;
    }

    .footer_midle_title {
        text-align: center;
    }

    .footer_links {
        text-align: center;
    }

    .footer_right,
    .footer_left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_right_text_mobile {
        display: block;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .copyright {
        display: block;
        font-size: 10px;
        margin: 0;
        font-size: 10px;
        font-family: "Cambria";
        color: #fff;
        margin-top: 20px;
    }
}
